//
// Card and its accompanying styles
//

// Card
.card {
  background-color: $white;
  border-radius: $border-radius;
  @include vertical-rythm(lg, padding);
}

.card-header {
  border-bottom: 1px solid lighten($navy, 5%);
}
// Lodging
.lodging {
  color: lighten($navy, 5%);
  @include vertical-rythm(sm, padding);
}

.card .header {
  text-align: center;
}
.card h2 {
  display: inline-block;
  font-size: 3.5rem;
  text-align: center;
  border-bottom: 4px solid rgba(black, .3);
}