//
// Card and its accompanying styles
//

// Card
.card {
  background-color: $white;
  border-radius: $border-radius;
  @include vertical-rythm(md, margin);
}
.card-header {
  align-items: center;
  background-color: darken($white, 2.5%);
  border-bottom: .25rem solid darken($white, 5%);
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  display: flex;
  justify-content: center;
  text-align: center;
  @include vertical-rythm(sm, padding);
}
.card-header a {
  color: $black;
  padding: $spacer;
  text-decoration: none;
  margin-right: $spacer / 2;
  margin-left: $spacer / 2;
  font-size: 1.5rem;
}
.card-body {
  @include vertical-rythm(sm, padding);
}