.container {
  padding-right: $spacer;
  padding-left: $spacer;

  @media (min-width: 768px) {
    margin-right: auto;
    margin-left: auto;
    max-width: 768px;
  }

  &:before,
  &:after {
    content: ' '; // 1
    display: table; // 2
  }

  &:after {
    clear: both;
  }
}

.grid {
  // display: flex;
  // flex-direction: column;
  @include vertical-rythm(md, padding);

  @media (min-width: 768px) {
    // flex-direction: row;
    @include vertical-rythm(xl, padding);
  }
}
// .col {
//   flex: 1;
//   min-width: 100%;

//   @media (min-width: 768px) {
//     flex: 1;
//     min-width: 50%;
//     padding-right: $spacer;
//     padding-left: $spacer;
//   }
// }