.hero {
  background-image: url('../img/overlay.png'), url('../img/pattern.svg'), linear-gradient(45deg, #65FDF0 10%, #1D6FA3 100%);
  padding: 6rem;
  background-size: auto, cover;
  background-position: top, left, center, center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.hero-text {
  background-color: rgba($white, .4);
  padding: $spacer * 3.5;
  margin-right: -2rem;
  border-radius: 12px;
}
.hero-img img {
  box-shadow: -1px 5px 20px 0px #323228;
  border-radius: 12px;
  max-width: 100%;
  @include size(500px, auto);
}