body {
  background-image: url('../img/overlay.png'), url('../img/overlay2.svg'), linear-gradient(45deg, $red 20%, $purple 80%);
  background-size: auto, cover;
  background-position: top, left, center, center;
  height: 100vh;
}
.hero img {
  max-width: 300px;
  @include size(100%, auto);
}
.hero-headline {
  color: $white;
  font-size: 2em;
  font-weight: $font-weight-book;
  text-align: center;
  text-shadow: 1px 1px 1px lighten($black, 5%);
  @include vertical-rythm(md, padding);
}
.hero-grid {
  display: flex;
  justify-content: center;
}