// Colors

// https://coolors.co/2e86ab-f9c80e-c2d663-f86624-ae2c8b

$black:                   #32322C;
$white:                   #ffffff;
$navy:                    #4C6085;

// Fonts
$font-family-serif:       'Noto Serif', serif;
$font-family-sans:        'Noto Sans', sans-serif;
$font-family-base:        $font-family-serif;

$font-weight-normal:      400 !default;
$font-weight-bold:        700 !default;

// Padding / Margin
$spacer:                  1rem;

// Vertical Rythm
$vertical-rythm: (
  sm: 1.25rem,
  md: 2.5rem,
  lg: 5rem
);

// Borders
$border-radius:           $spacer / 4;
