// Colors

// https://coolors.co/2e86ab-f9c80e-c2d663-f86624-ae2c8b

$black:                   #32322C !default;
$white:                   #ffffff !default;
$navy:                    #4C6085 !default;
$pink:                    #f59eb1 !default;
$green:                   #c3d664 !default;
$orange:                  #f79262 !default;
$yellow:                  #f8c815 !default;
$purple:                  #b02d8c !default;
$blue:                    #4d6eb5 !default;
$red:                     #cf2d4f !default;
$gray:                    rgba(245, 245, 245, 1) !default;

// Fonts
$font-family-base:       'Dosis', sans-serif;
$font-size-base:         1.5rem;

$font-weight-light:       200 !default;
$font-weight-normal:      400 !default;
$font-weight-book:        500 !default;
$font-weight-bold:        700 !default;

// Padding / Margin
$spacer:                  1rem;

// Vertical Rythm
$vertical-rythm: (
  sm: 1.25rem,
  md: 2.5rem,
  lg: 5rem,
  xl: 7.5rem
);

// Borders
$border-radius:           $spacer / 4;
