// Colors

$black:                   #32322C;
$white:                   #ffffff;
$navy:                    #4C6085;

// https://coolors.co/4c6085-39a0ed-36f1cd-13c4a3-32322c

// Fonts
$font-family-serif:       'Noto Serif', serif;
$font-family-sans:        'Noto Sans', sans-serif;
$font-family-base:        $font-family-sans;

// Padding / Margin
$spacer:                  1rem;

// Borders
$border-radius:           $spacer / 4;